:root {
    --primary-text-color: rgba(117, 117, 117, 1);
    --secondary-text-color: rgba(33, 33, 33, 1);
    --accent-color: rgba(33, 150, 243, 1);
    --background-secondary-color: rgba(245, 244, 250, 1);
    --hero-and-footer-color:rgba(47, 48, 58, 1);

}
body {
    background-color: #fff;
    color: var(--primary-text-color);
    font-family:Roboto, sans-serif;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    }


/* BGC secondary  rgba(245, 244, 250, 1); */

/* text color  rgba(117, 117, 117, 1); */

/* secondary text color rgba(33, 33, 33, 1); */

/* accent rgba(33, 150, 243, 1) */

/* address #ffffff  */

/* footer contact background: rgba(255, 255, 255, 0.6); */


.logo {
    font-family: raleway, sans-serif;
    color: black;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
}
.logo-web {
    color: var(--accent-color);
}
.list {
    list-style:none;
}

/* site nav  */

.site-nav {
    display:flex ;}

.site-nav .item + .item {
    margin-left: 50px;
}

.item > .link {
    padding-top: 32px;
    padding-bottom: 32px;
    display: block;
}


.site-nav a {
    color:var(--secondary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14px;
    letter-spacing: 0.02em;
        text-decoration: none;
}
.site-nav a:hover, .site-nav a:focus, .auth a:hover,
.auth a:focus {
    color:var(--accent-color);
}
/* auth */
.auth a {
    color:var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
        text-decoration: none;
}

/* hero */


.section .hero {
    color: #fff;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

}

.section-bgc {
    background-color:var(--hero-and-footer-color);
}
.section .section-title {
    color:var(--secondary-text-color);
    text-align: center;
    font-weight: 700;
    font-size: 36px;
}
.subheader {
color:var(--secondary-text-color);

font-weight: 700;
font-size: 14px;
line-height: 1.14;
text-transform: uppercase;
}

.subheader-team {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.17;
    color:var(--secondary-text-color);
}

.subheader-text {
    font-size: 14px;
    line-height: 1.71;
 }
 .list .text {
    font-size: 16px;
    line-height: 1.19;
 }

.grey-bgc {
    background-color: var(--background-secondary-color);
}

/* button */

.button {
    color: #fff;
    background-color:var(--accent-color);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    cursor:pointer;
}
.button:hover, button:focus {
    color:#fff;
    background-color:#188CE8;
} 
.button-centered {
    text-align: center;
}

.logo-footer {
    color: #fff; 
    background-color:var(--hero-and-footer-color);

    font-family: raleway, sans-serif;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
    font-weight: 700;
;

}
 address {
     color: #fff; background-color:var(--hero-and-footer-color);
 }
.bgc-grey {
    color:rgba(255, 255, 255, 0.6);
        text-decoration: none;
        
 }

 .address-no-italic {
     font-style:normal;
     color:rgba(255, 255, 255, 0.6);
 }
 /* from here starting adding additional styles for portfolio.html */
 
 .site-nav .current {
     color: var(--accent-color);
 }
 .filter .filter-button {
     color:var(--secondary-text-color);
     background-color: var(--background-secondary-color);
     font-family: inherit;
     font-weight: 500;
     font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;

        cursor:pointer;
 }
.filter .filter-button:hover, .filter .filter-button:focus {
    color:#fff;
    background-color: var(--accent-color)
}
.port-subheader {
    color:var(--secondary-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.port-text {
font-size: 16px;
line-height: 1.88;
color: var(--primary-text-color);
}
.list a {
    text-decoration: none;
}
